<% provide(:title, 'About') %>

<div class="container">
  <div class="about">
    <h1 class="welcome">About</h1>
    <p>Cheapsteak gives you the power to find that certain meal you're craving,
     at a price you're willing to pay.  Want a juicy burger, but you don't want to
     pay more than $8? No problem!  Just enter "burger", max price: "8" and your
     zip code! Cheapsteak then uses the Locu API to check online menus to find any
     menu items that match your criteria.
    </p>
    <p>Tip: Certain types of food are trickier to find than others. For items
    such as sushi, try searching for a specific type of sushi, i.e.
    "California roll".
    </p><br>
    <p>Cheapsteak was created by <a href="http://www.wescargen.com">Wes Cargen</a>
     for General Assembly's Web Development Immersive course in San Francisco,
     CA.
    </p>
  </div>
</div>
