<% provide(:title, 'About') %>

<div class="container">
  <h1>About</h1>
  <p>Cheapsteak was created by Wes Cargen for General Assembly's Web Development Immersive course in San Francisco, CA.</p>
</div>
