<form action="/items/show" method="get">
  <input type="text" placeholder="Zip code?" name="postal_code" id="postal_code"><br><br>
  <input type="text" placeholder="What sounds good?" name="food"id="food"><br><br>
  <input type="text" placeholder="Maximum price?" name="price__lte" id="price__lte"><br><br>
  <input type="submit" value="Find me something to eat!" class="btn btn-large btn-primary">
</form>