<div class="container">
  <div class="results">
    <h1 class-"welcome">Results</h1>
      <% @result["objects"].each do |item| %>
        <%= render :partial => 'results', :locals => {:item => item} %>
      <% end %>
  </div>
</div>