<div class="container">
  <h1>Results</h1>

  <% @result["objects"].each do |item| %>
    <p>
      <%= item["name"] %> for $<%= item["price"] %> at
      <%= item["venue"]["name"] %>
    </p>
  <% end %>
</div>