<div id="footer">
  <div class="container">
    <div id="locu">
      <a href="http://locu.com"><img height="25" width="155" src="http://locu.com/static/images/dev/poweredby-color@2x.png" alt="Powered by Locu" /></a>
    </div>
  </div>
</div>