<div id="footer">
  <div class="container">
    <div id="locu">
      <p>
        <a href="https://locu.com"><img height="25" width="155"
        src="http://locu.com/static/images/dev/poweredby-color@2x.png"
        alt="Powered by Locu" /></a>
        <a href="http://www.wescargen.com">&copy;Wes Cargen</a>
      </p>
    </div>
  </div>
</div>